azure.functions
azure.storage.blob
google.cloud.storage
connexion == 2.0.2
flask_testing==0.6.1
flask_cors == 3.0.7
swagger-ui-bundle == 0.0.2
python_dateutil == 2.6.0
setuptools >= 21.0.0
jwkaas == 0.3